adf-nyc-payroll-001/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-nyc-payroll-001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dataflowTITLE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DelimitedTextTITLE",
								"type": "DatasetReference"
							},
							"name": "loadTITLE"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTableTITLE",
								"type": "DatasetReference"
							},
							"name": "sinkTITLE"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          TitleCode as string,",
						"          TitleDescription as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> loadTITLE",
						"loadTITLE sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          TitleCode as string,",
						"          TitleDescription as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkTITLE"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow EMP",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflowEMP",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"loadEMP": {},
									"sinkEMP": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow TITLE",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflowTITLE",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"loadTITLE": {},
									"sinkTITLE": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow AGENCY",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflowAGENCY",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"loadAGENCY": {},
									"sinkAGENCY": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow 2020",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow EMP",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Data flow AGENCY",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Data flow TITLE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow2020",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"load2020": {},
									"sink2020": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow 2021",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow EMP",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Data flow AGENCY",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Data flow TITLE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow2021",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"load2021": {},
									"sink2021": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow summary",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow 2020",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Data flow 2021",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflowSummary",
								"type": "DataFlowReference",
								"parameters": {
									"dataflow_param_fiscalyear": "2020"
								},
								"datasetParameters": {
									"load2020": {},
									"load2021": {},
									"sinkSQL": {},
									"sinkSYN": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "LS_DL",
									"type": "LinkedServiceReference"
								},
								"folderPath": "nyc-payroll-contanier"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-12-25T08:48:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflowTITLE')]"
			]
		}
	]
}